*.DS_Store
Guias/Semana 1/.DS_Store
Guias/Semana 4/.DS_Store
Guias/Semana 4/Resources/.DS_Store
Hilos/.DS_Store
Jerarquia Cliente:Servidor/.DS_Store
Multicast/.DS_Store
Otros Ejemplos/.DS_Store
Repository_TCP/.DS_Store
Security_SSL/.DS_Store
Security_SSL/src/.DS_Store
UDP/.DS_Store
UDP/ChatP2PUDP/.DS_Store
UDP/ChatP2PUDP/src/.DS_Store
CSS/.DS_Store
CSS/Clase 2/.DS_Store
Guias/.DS_Store
Guias/Semana 1/.DS_Store
Guias/.DS_Store
Guias/Semana 1/.DS_Store
Chats/.DS_Store
.DS_Store
Retos/Solucion Retos (Private).ipynb
Retos/.ipynb_checkpoints/Solucion Retos (Private)-checkpoint.ipynb
Guias/Semana 5/.ipynb_checkpoints/Semana 5-checkpoint.ipynb
Guias/Semana 4/.ipynb_checkpoints/Semana 4-checkpoint.ipynb
Guias/Semana 1/.ipynb_checkpoints/Documento General-checkpoint.ipynb
Guias/Semana 6/.ipynb_checkpoints/Semana 6-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Guias/Semana 7/.ipynb_checkpoints/Semana 7-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Guias/Semana 8/.ipynb_checkpoints/Semana 8-checkpoint.ipynb
Guias/Semana 9/.ipynb_checkpoints/Semana 9-checkpoint.ipynb
Guias/Semana 12/.ipynb_checkpoints/Semana 12-checkpoint.ipynb
Guias/Semana 11/.ipynb_checkpoints/Semana 11-checkpoint.ipynb
Guias/Semana 10/.ipynb_checkpoints/Semana 10-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
.DS_Store
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
Retos/.ipynb_checkpoints/Libro de Retos-checkpoint.ipynb
